html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app{
    background-image: url('./images/galaxy.jpg');
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none;
}

.animation{
    animation-name: myfirst;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

@keyframes myfirst{
    0%   {
        opacity: 1;
    }
    50%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}