html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app{
    background-image: url('./images/galaxy.jpg');
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none;
}

.hide-animation{
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.show-animation{
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.opacity{
    opacity: 0;
}

.gundam {
    z-index: 10;
    width: 200px;
    height: 200px;
}
.center{
    z-index: 1;
    position: absolute;
    top: calc(100vh / 2 - 100px);
    left: calc(100vw / 2 - 100px);
}